{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    img {
        width: 120px;
        height: 120px;
    }

    td {
        width: 120px;
        height: 120px;
    }

    h1 {
        margin: 0px 0px 0px 400px;
    }

    table {
        margin: 0 auto;
        position: absolute;
        left: 35%;
    }

    #change,
    #run1 {
        margin-left: 55px;
        font-size: 20px;
    }

    h2 {
        color: blue;
    }

    .down {
        display: flex;
        justify-content: center;
    }

    .lastbt {
        margin-left: 820px;
    }

    .highlight {
        animation: blink 1.5s ease-in-out infinite alternate;
        border: 5px solid transparant;
        box-shadow: 0 0 20px dodgerblue
    }

    .model {
        position: fixed;
        top: 650px;
        left: 1100px;
        width: 20%;
        height: 10%;
        background-color: greenyellow;
        justify-content: center;
        align-items: center;

    }

    .confirm-content {
        background-color: mediumspringgreen;
        text-align: center;
        border-radius: 10px;
    }

    @keyframes blink {
        0% {
            opacity: 0;
            box-shadow: 0 0 10px gold;
        }

        70% {
            opacity: 1;
            box-shadow: 0 0 20px lawngreen;
            ;

        }
    }
</style>



<h1 id="sec1">抽抽頁面</h1><br>

<div class="main_table">
    <table border="8" width="480" height="480">
        <tr>
            <td id="img_1"><img src="{% static 'image/draw_1.PNG' %}" data-value="紫色神秘披風" alt=""></td>
            <td id="img_2"><img src="{% static 'image/draw_2.PNG' %}" data-value="賢者標誌" alt=""></td>
            <td id="img_3"><img src="{% static 'image/draw_3.PNG' %}" data-value="紅玫瑰戒指" alt=""></td>
            <td id="img_4"><img src="{% static 'image/draw_4.PNG' %}" data-value="漆黑能量臉飾" alt=""></td>
        </tr>
        <tr>
            <td id="img_5"><img src="{% static 'image/draw_5.PNG' %}" data-value="頂級陪羅德耳環" alt=""></td>
            <td colspan="2" rowspan="2">
                <button type="button" id="change" onclick="switchImg()"> 更換圖片位置</button><br>
                <button type="button" id="run1" onclick="startDraw()">開始進行抽取</button>
            </td>
            <td id="img_6"><img src="{% static 'image/draw_6.PNG' %}" data-value="雙手血刃盾牌" alt=""></td>
        </tr>
        <tr>
            <td id="img_7"><img src="{% static 'image/draw_7.PNG' %}" data-value="波賽頓雙刀" alt=""></td>
            <td id="img_8"><img src="{% static 'image/draw_8.PNG' %}" data-value="紫靈惡魔盾牌" alt=""></td>
        </tr>
        <tr>
            <td id="img_9"><img src="{% static 'image/draw_9.PNG' %}" data-value="黃金十字耳環" alt=""></td>
            <td id="img_10"><img src="{% static 'image/draw_10.PNG' %}" data-value="黃石項鍊" alt=""></td>
            <td id="img_11"><img src="{% static 'image/draw_11.PNG' %}" data-value="菲爾斯戰斧" alt=""></td>
            <td id="img_12"><img src="{% static 'image/draw_12.PNG' %}" data-value="航海師披風" alt=""></td>
        </tr>
    </table>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br>


<h2 align="center" id="sec2"></h2>

<table border="2.5">
    <tr>
        <td id=finalImg></td>
    </tr>
</table><br>

<div class="lastbt">
    <button id="retry" style="display:none">再次嘗試抽取裝備</button>
    <button id="nextport" style="display:none">確認該裝備並進入賦予裝備程序</button>
</div>
<div id="confirm" class="model" style="display:none">
    <div class="confirm-content">
        <p>確定要選擇此裝備洗潛力嗎?</p>
        <button id="yes">
            <a href="{% url 'pro_up' %}">確定</a>
        </button>
        <button id="refuse">在思考一下</button>
    </div>
</div>

{{choices}}
<script src="{% static 'js/draw.js' %}"></script>
{% endblock %}